[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "thirdparty/stmlib"]
	path = thirdparty/stmlib
	url = https://github.com/pichenettes/stmlib
